subscription_id                  = "00000000-0000-0000-0000-000000000000"
project                          = "platform"
environment                      = "dev"
location                         = "swedencentral"
acr_name                         = "platformdevexample"
key_vault_name                   = "kv-platform-dev-example"
admin_group_object_ids           = ["00000000-0000-0000-0000-000000000000"]
grafana_admin_group_object_id    = null
github_actions_principal_id      = null
kubernetes_version               = null
vnet_address_space               = "10.20.0.0/16"
aks_subnet_address_prefix        = "10.20.0.0/22"
private_endpoints_subnet_address_prefix = "10.20.4.0/24"
private_cluster_enabled          = false
api_server_authorized_ip_ranges  = ["203.0.113.10/32"]
acr_sku                          = "Basic"
acr_public_network_access_enabled = true
log_analytics_retention_in_days  = 30
observability_public_network_access_enabled = false
grafana_public_network_access_enabled       = false
alert_action_group_ids = []

tags = {
  owner = "platform-team"
}
